<!DOCTYPE html>
<!-- 
    BookList
    Structure
    1. welcome
    2. navigation bar
    3. table // next Page
    4. footer // a sentence
 -->
<html>

<head>
    <title>BookList</title>
    <meta charset="utf-8">
    <link href="../static/css/style.css" rel="stylesheet" type="text/css">
</head>
    
    

<body>
    <div class="header">
        <h1>Welcome to My BookList Page</h1>
        <p>created by BrilliantYoung</p>
    </div>

    <div class="bar">

        <a href="/hello.html" class="image"><img src="../static/img/by2.png" width="115px"></a>
        <a href="#">Link2</a>
        <a href="/add.html">Add</a>
        <a href="/hello.html" class="home">HOME</a>
    </div>


    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Finished Time</th>
                <th>Comments</th>
            </tr>
        </thead>

        <tbody>
            {{range $i, $v := .Books}}
                <tr>
                    <td>{{ $i }}</td>     {{/*如何实现序号递增*/}}
                    <td>{{.BookName}}</td>
                    <td>{{.FinishedTime}}</td>
                    <td>{{.Comments}}</td>
                </tr>

            {{end}}

        <tfoot>

        </tfoot>


    </table>
    
</body>

</html>