body{
    max-width: 960px;
    margin: 0 auto;
    
    }


/*  hello  */
.header{
    padding: 80px;
    background-color: cadetblue;
    text-align: center;
    color: aliceblue;
}

/* navigation */
.bar{
    overflow: hidden;
    
}

.bar a.image{
    margin:0;
    padding:0;
    display: inline;
    float: left;
    width: 10px;
    
}

.bar a {
    display: block;
    width: 10%;
    float: right;
    margin: 2%;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    color:black;
    margin-top: 15px;
}

.bar a:hover{
        color: skyblue;
}

.bar a.home{
    color:white;
    background-color:skyblue;
    border-radius: 6px;
}

.bar a.home:hover{
    color:black;
}

/* table */

table{
    margin: 30px auto;
    border-collapse: collapse;
    width: 900px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr{
    /* background-color: cadetblue; */
    text-align: left;
    font-weight: bold;
    /* color: white; */

}

table th,
table td{
    
    font-size: 18px;
    padding: 15px 15px;
}

table tbody tr {
    border: 1px solid #dddddd;
}

table tbody tr:last-of-type{
    border-bottom: 2px solid cadetblue;
}

tr:hover td {
    background-color:lightgrey;
}


/* form */

.add{
    width: 900px;
    margin: 20px auto;
    text-align: center;
    background-color: #f3f3f3;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    border-radius: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:slategray;
    
}
.addform{
    
    padding: 10px;
    margin: 0 auto;
    overflow: hidden;
}



.addform input[type=text]{
        
    width: 50%;
    padding: 10px;
    margin: 20px auto;
    height: 25px;
    border-radius: 5px;
    border:none;
    font-size: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.05);
    outline: none;

}



.addform input[type=submit]{
    margin:20px;
    padding:13px;
    width: 120px;
    font-size: 20px;
    background-color:white;
    color: #02bb8c;
    
    border: 1px solid #02bb8c;
    border-radius: 15px;
    cursor: pointer;

    
}

.addform input[type=submit]:hover{
    color: white;
    background-color: #02bb8c;
}

.addform input[type=text]:focus{
    border: 1px solid steelblue;
}